.Rproj.user
.Rhistory
.RData
.Ruserdata

RJwrapper\.pdf

manuscript\.tex

RJwrapper\.tex

RJwrapper.aux

RJwrapper.log

RJwrapper.out

README.html

manuscript_cache/

.Renviron

README_cache/

*.log

rockerverse-preprint.pdf

rocker_mask.png

FinalFrontierOldStyle-8Pg.ttf

universe.png

whaleverse.png

rockerverse_1200dpi.png

rockerverse.tex
